[submodule "lib/ArduinoJson-7.x"]
	path = lib/ArduinoJson-7.x
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/SdFat"]
	path = lib/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "lib/SparkFun_u-blox_GNSS_Arduino_Library"]
	path = lib/SparkFun_u-blox_GNSS_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_u-blox_GNSS_Arduino_Library.git
[submodule "lib/SparkfunOBD2UART"]
	path = lib/SparkfunOBD2UART
	url = https://github.com/ALEEF02/SparkfunOBD2UART.git
